



.DPContainer{

width: 100%;
height: 50vh;
background-color: beige;
display: flex;
flex-direction: row;
justify-content: space-around;
vertical-align: middle;

}

.section{

    width: 100px;
    height: 100%;
    background-color: rgb(214, 214, 193);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.room{

    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: black;
    color: white;
    text-align: center;

}

.filler{

    width: 100%;
    background-color: rgb(202, 118, 118);

}