.DPContainer {
  width: 100%;
  height: 90vh;
  background-color: rgb(116, 102, 58);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  vertical-align: middle;
}

.flexrow {
  display: flex;
  flex-direction: row;
  background-color: rgba(61, 54, 54, 0.003);
}

.level {
  width: 100px;
  height: 100%;
  background-color: rgba(224, 214, 157, 0.411);
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
}

.randomgap {
  width: 90px;
  height: 0px;
  background-color: rgb(255, 255, 255, 0.3);
  color: white;
  text-align: center;
  font-size: small;
}

.room {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  border-style: none;
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  z-index: 5;
}

.rmButton {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  border-width: 17px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  background-color: rgb(82, 82, 82);
  text-align: center;
  z-index: 6;
  cursor: pointer;
  transition: .25s;
}

.rmButton:hover {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  border-width: 4px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  text-align: center;
  z-index: 6;
  transform: scale(1.1);
}

.nextroominfo {
  width: 25px;
  height: 45px;
  border-radius: 10px;
  border-style: none;
  background-color: rgb(112, 21, 21);
  color: white;
  text-align: center;
  padding-top: 5px;
  margin-left: 7px;
  z-index: 5;
}

.player {
  width: 40px;
  height: 40px;
  border-radius: 15px;
  border-style: none;
  margin-left: 5px;
  background-color: rgb(199, 160, 31);
  /* color: white; */
  text-align: center;
 
  z-index: 10;
}

