.room-event-container {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.466),
    rgba(141, 141, 141, 0.164),
    rgba(218, 218, 218, 0.096)
  );
  width: 88.2vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dev-info {
  margin-top: 15vh;
  background-color: black;
  color: rgb(255, 255, 255);
  text-align: center;
  width: 20vw;
  align-self: center;
}

/* ============================================= Cave Background ============================================= */

.cave-background-container {
  position: absolute;
  z-index: -1;
  height: 80vh;
  width: 88.2vw;
}

.cave-background-image {
  height: 100%;
  width: 100%;
}

/* flex boxes */
.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: center; */
}

.flexcol,
.monster-flexrow,
.status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

/* ============================================= equipment ============================================= */

.equip-column {
  padding: 1.5vw;
  background-color: rgba(37, 37, 37, 0.76);
}

.equip-slot,
.equip-button {
  width: 10vh;
  height: 10vh;
  border-radius: 1vh;
  margin: 0.8vw;
  font-size: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.slot-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-self: center;
}

.item-image {
  width: 80%;
  opacity: 50%;
}

.equip-button {
  background-color: rgba(255, 255, 255, 0);
  border-style: none;
  z-index: 7;
  margin: 0vw;
  padding: 0.5vw;
  cursor: pointer;
  position: fixed;
  animation-name: equipButton;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  cursor: pointer;
}

@keyframes equipButton {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.3);
  }
  100% {
    background-color: rgb(255, 255, 255, 0);
  }
}

/* ============================================= tooltips ============================================= */

.tooltip {
  display: none;
}

.equip-slot:hover + .tooltip {
  display: block;
  padding: 1vw;
  background-color: rgba(0, 0, 0, 0.75);
  max-width: 10vw;
  margin-top: -11vh;
  margin-left: 9vw;
  position: absolute;
  color: white;
  text-align: left;
  animation-name: equip-tooltip-ani;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  position: absolute;
}

@keyframes equip-tooltip-ani {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.tooltipArrow {
  right: 100%;
  top: 17.5%;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 21px solid transparent;
  border-bottom: 21px solid transparent;
  border-right: 21px solid rgba(0, 0, 0, 0.75);
}

.tooltipTitle {
  text-align: center;
  font-weight: 600;
  font-size: 2vh;
}

.tooltipText {
  font-weight: 300;
  line-height: 2.5;
  font-size: 1.8vh;
}

.tooltipDesc {
  font-weight: 100;
  font-style: italic;
  font-size: 1.8vh;
  word-wrap: normal;
}

.specialDiv {
  margin-top: 1vh;
  height: 1px;
  width: 10px;
}

/* lootcard tooltips */

.loot-card-tooltip {
  display: none;
}

.loot-card:hover + .loot-card-tooltip {
  display: block;
  padding: 1vw;
  background-color: rgba(0, 0, 0, 0.8);
  width: 9vw;
  margin-top: -13.4vh;
  margin-left: 1vw;
  position: absolute;
  color: white;
  text-align: center;
  animation-name: loot-tooltip-ani;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  position: absolute;
}

@keyframes loot-tooltip-ani {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

/* ============================================= avatars ============================================= */

.avatar-column {
  display: flex;
  flex-direction: column;
  width: 30vw;
  align-items: center;
}

.status-box {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 0;
  /* position: absolute; */
}

.avatar {
  /* width: 100%; */
  height: 40vh;
}

.avatar-attacking {
  height: 40vh;
  animation-name: avatar-attacking;
  animation-duration: 750ms;
  animation-iteration-count: 1;
  position: absolute;
}

@keyframes avatar-attacking {
  0% {
    right: 50vw;
  }
  30% {
    right: 40vw;
  }
  100% {
    right: 40vw;
  }
}

.avatar-avoiding {
  left: 30vw;
  height: 40vh;
  position: absolute;
}

.player-dead {
  height: 40vh;
  animation-name: player-death-ani;
  animation-duration: 2000ms;
  animation-iteration-count: 1;
  z-index: 1;
  position: fixed;
}

@keyframes player-death-ani {
  0% {
    top: 40vh;
    left: 37vw;
    transform: rotate(0deg);
  }
  20% {
    top: 30vh;
    left: 30vw;
    transform: rotate(-90deg);
  }
  25% {
    top: 32vh;
    left: 29.7vw;
    transform: rotate(-93deg);
  }
  50% {
    top: 52vh;
    left: 28vw;
    transform: rotate(-100deg);
  }
  100% {
    top: 52vh;
    left: 28vw;
    transform: rotate(-100deg);
  }
}

/* =============================================  " effects " ============================================= */

.eqiup-attacking,
.eqiup-attacking-2 {
  width: 10vh;
  height: 10vh;
  margin-bottom: 14vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 0;
  animation-name: eqiup-attacking;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  position: absolute;
}

.eqiup-attacking-2 {
  width: 20vh;
  height: 20vh;
}

@keyframes eqiup-attacking {
  0% {
    top: 30vh;
    right: 50vw;
    transform: rotate(-45deg);
  }
  30% {
    top: 28vh;
    right: 30vw;
    transform: rotate(-45deg);
  }
  50% {
    top: 60vh;
    right: 30vw;
    transform: rotate(60deg);
  }
  100% {
    top: 61vh;
    right: 31vw;
    transform: rotate(65deg);
  }
}

.eqiup-blocking {
  height: 19vh;
  width: 6vw;
  top: 45vh;
  left: 45vw;
  position: absolute;
}

.eqiup-handgun {
  height: 7vw;
  width: 7vw;
  transform: rotate(15deg);
  top: 42vh;
  left: 45vw;
  position: absolute;
  animation-name: eqiup-handgun;
  animation-duration: 2000ms;
  animation-iteration-count: 1;
}

@keyframes eqiup-handgun {
  0% {
    transform: rotate(15deg);
    top: 42vh;
    left: 45vw;
  }
  40% {
    transform: rotate(15deg);
    top: 42vh;
    left: 45vw;
  }
  45% {
    transform: rotate(0deg);
    top: 35vh;
    left: 43vw;
  }
  100% {
    transform: rotate(0deg);
    top: 35vh;
    left: 43vw;
  }
}

.damage-hit {
  height: 15vh;
  width: 10vw;
  top: 45vh;
  left: 34vw;
  animation-name: damage-hit;
  animation-duration: 1500ms;
  animation-iteration-count: 1;
  position: absolute;
}

@keyframes damage-hit {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

.damage-deflect {
  height: 10vh;
  width: 5vw;
  left: 40vw;
  animation-name: damage-deflect-ani;
  animation-duration: 1500ms;
  animation-iteration-count: 1;
  position: absolute;
}

@keyframes damage-deflect-ani {
  0% {
    top: 45vh;
    left: 37.5vw;
    height: 10vh;
    width: 5vw;
    opacity: 100%;
  }
  40% {
    top: 40vh;
    left: 35vw;
    height: 20vh;
    width: 10vw;
    opacity: 0%;
  }
  100% {
    top: 40vh;
    left: 37.5vw;
    height: 1vh;
    width: 1vw;
    opacity: 0%;
  }
}

.monster-damage-hit {
  height: 15vh;
  width: 10vw;
  top: 45vh;
  left: 71vw;
  animation-name: monster-damage-hit;
  animation-duration: 1500ms;
  animation-iteration-count: 1;
  position: absolute;
  z-index: 2;
}

@keyframes monster-damage-hit {
  0% {
    opacity: 100%;
    height: 7.5vh;
    width: 5vw;
    top: 47.5vh;
    left: 73.5vw;
  }
  100% {
    opacity: 0%;
    height: 15vh;
    width: 10vw;
    top: 45vh;
    left: 71vw;
  }
}

.monster-lightsaber-hit {
  height: 30vh;
  width: 20vw;
  top: 40vh;
  left: 65vw;
  animation-name: monster-lightsaber-hit;
  animation-duration: 2000ms;
  animation-iteration-count: 1;
  position: absolute;
  z-index: 2;
}

@keyframes monster-lightsaber-hit {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

/* =============================================  monster ============================================= */

.monster {
  height: 40vh;
}

.monster-attacking {
  height: 40vh;
  animation-name: monster-attacking;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  position: absolute;
}

@keyframes monster-attacking {
  0% {
    right: 16vw;
  }
  20% {
    right: 35vw;
  }
  90% {
    right: 35vw;
  }
  100% {
    right: 20vw;
  }
}

.monster-claw-attacking {
  width: 10vh;
  height: 10vh;
  margin-bottom: 14vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 0;
  animation-name: monster-claw-attacking;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  position: absolute;
}

@keyframes monster-claw-attacking {
  0% {
    top: 30vh;
    right: 30vw;
    transform: rotate(45deg);
  }
  30% {
    top: 28vh;
    right: 50vw;
    transform: rotate(45deg);
  }
  50% {
    top: 60vh;
    right: 50vw;
    transform: rotate(-30deg);
  }
  100% {
    top: 61vh;
    right: 49vw;
    transform: rotate(-35deg);
  }
}

.monster-dead {
  height: 35vh;
  transform: rotate(100deg);
  top: 55vh;
  left: 72vw;
  animation-name: monster-death-ani;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  z-index: 1;
  position: fixed;
}

@keyframes monster-death-ani {
  0% {
    height: 40vh;
    top: 41vh;
    left: 67vw;
    transform: rotate(0deg);
  }
  40% {
    height: 38vh;
    top: 41vh;
    left: 69vw;
    transform: rotate(88deg);
  }
  60% {
    height: 38vh;
    top: 43vh;
    left: 70vw;
    transform: rotate(90deg);
  }
  75% {
    height: 35vh;
    top: 55vh;
    left: 72vw;
    transform: rotate(100deg);
  }
  100% {
    height: 35vh;
    top: 55vh;
    left: 72vw;
    transform: rotate(100deg);
  }
}

/* ============================================= header + footer ============================================= */

.stat-row {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  vertical-align: middle;
  background-color: rgb(0, 0, 0);
}

.stat-row-spacer {
  padding: 1.5vw;
  width: 10vh;
  margin: 0.8vw;
}

.stat-container {
  width: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.stat-box {
  width: 8vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 0;
}

.health-change,
.health-pos,
.health-neg {
  width: 8vh;
  height: 8vh;
  display: flex;
  justify-content: center;
  font-size: 4.5vh;
  font-weight: 800;
  animation-name: health-change;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  z-index: 10;
  opacity: 0%;
}

.health-pos {
  color: rgb(38, 255, 0);
}

.health-neg {
  color: rgb(255, 0, 0);
}

@keyframes health-change {
  0% {
    bottom: 40vh;
    right: 0vw;
    opacity: 100%;
    position: relative;
  }
  100% {
    bottom: 3vh;
    right: 0vw;
    opacity: 0%;
    position: relative;
  }
}

.iconify {
  position: absolute;
  z-index: 1;
  font-size: 7vh;
  align-self: center;
}

.stat-text,
.stat-text-green {
  color: cornsilk;
  font-size: 4.5vh;
  margin-bottom: 0.3vh;
  font-weight: 800;
  z-index: 2;
  align-self: center;
  position: absolute;
}

.stat-text-green {
  color: rgb(70, 255, 37);
}

/* ============================================= Treasure / Loot ============================================= */

.chest {
  height: 15vh;
  top: 60vh;
  left: 67.5vw;
  z-index: 4;
  position: absolute;
}

.fire {
  height: 25vh;
  left: 65vw;
  top: 50vh;
  z-index: 4;
  position: absolute;
}

.loot-image {
  width: 50%;
  opacity: 50%;
  margin: 2vh;
}

.loot-container,
.loot-container-animation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vw;
  top: 27.5vh;
  right: 16vh;
  background-color: rgba(32, 32, 32, 0.794);
  z-index: 5;
  animation-name: loot-container-animation;
  animation-duration: 1300ms;
  animation-iteration-count: 1;
  position: absolute;
}

@keyframes loot-container-animation {
  0% {
    padding: 0.01vw;
    top: 65vh;
    right: 25vw;
    margin-bottom: 5vh;
  }
  100% {
    padding: 1vw;
    top: 27.5vh;
    right: 16vh;
    margin-bottom: 0vh;
  }
}

.loot-card,
.loot-card-animation {
  width: 10vw;
  height: 30vh;
  margin: 1vw;
  align-items: center;
  padding: 0.5vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
  animation-name: loot-card-animation;
  animation-duration: 1300ms;
  animation-iteration-count: 1;
  overflow: hidden;
}

@keyframes loot-card-animation {
  0% {
    width: 0vh;
    height: 0vh;
    color: rgba(0, 0, 0, 0);
    margin: 0vw;
    padding: 0vw;
  }
  40% {
    color: rgba(0, 0, 0, 0);
  }
  100% {
    width: 10vw;
    height: 30vh;
    margin: 1vw;
    padding: 0.5vw;
  }
}

.forgo-loot-button,
.forgo-loot-button-animation {
  width: 30vh;
  height: 6vh;
  background-color: rgb(216, 216, 216);
  color: rgb(31, 31, 31);
  font-weight: 800;
  font-size: 2vh;
  border-radius: 1vw;
  margin: 1vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  animation-name: forgo-loot-button-animation;
  animation-duration: 1300ms;
  animation-iteration-count: 1;
}

@keyframes forgo-loot-button-animation {
  0% {
    width: 0vh;
    height: 0vh;
    font-size: 0.1vh;
    margin: 0vw;
  }
  100% {
    width: 30vh;
    height: 6vh;
    font-size: 2vh;
    margin: 1vw;
  }
}
