<div class="REContainer">

    <div class="caveBGCont">
        <img class="caveBGImg" src="{{ this.RoomEventService.roomBackground }}" />
    </div>

    <!-- dev info -->
    <div class="devinfo" *ngIf="DungeonPathService.showDevInfo === true">
        {{this.RoomEventService.roomType}} <br>
        currentLevel = {{this.RoomEventService.currentLevel}} <br>
        currentRoom = {{this.RoomEventService.currentRoom}}
    </div>

    <!-- HEADER -->
    <!-- TURN INFO -->
    <div class="statrow">

        <div class="statRowSpacer">
        </div>

        <div class="statContainer">
            <p *ngIf="this.RoomEventService.isPlayerTurn === true" class="stattext"> Player Turn </p>
        </div>

        <div class="statContainer">
            <p *ngIf="this.RoomEventService.isPlayerTurn === false && this.RoomEventService.monsterHealthValue > 0"
                class="stattext"> Monster Turn </p>
        </div>

    </div>

    <!-- BODY -->
    <div class="flexrow">
        <!-- Equipment Column -->
        <div class="equipColumn">
            <div class="equipSlot"
                [style.background-color]="this.PlayerService.getColour(this.PlayerService.helm.itemTier)">
                {{ this.PlayerService.helm.itemName }}
            </div>
            <div class="equipSlot"
                [style.background-color]="this.PlayerService.getColour(this.PlayerService.armour.itemTier)">
                {{ this.PlayerService.armour.itemName }}
            </div>
            <div class="equipSlot"
                [style.background-color]="this.PlayerService.getColour(this.PlayerService.offhand.itemTier)">
                {{ this.PlayerService.offhand.itemName }}
                <button class="equipButton" (click)="Block()" *ngIf="this.RoomEventService.isPlayerTurn === true">
                </button>
            </div>
            <div class="equipSlot"
                [style.background-color]="this.PlayerService.getColour(this.PlayerService.weapon.itemTier)">
                {{ this.PlayerService.weapon.itemName }}
                <button class="equipButton" (click)="Attack()" *ngIf="this.RoomEventService.isPlayerTurn === true">
                </button>
            </div>
        </div>

        <!-- Player Avatar Column -->
        <div class="avatarColumn">
            <div class="ailmentBox">
                <div *ngIf="this.PlayerService.isBlockActive === true"> blocking </div>
            </div>
            <div class="flexrow">
                <div class="ailmentBox">
                </div>
                <img id="playerAvatar" class="avatar" src="{{ this.PlayerService.playerAvatar }}" />
                <div class="ailmentBox">
                    <div *ngIf="this.PlayerService.isBlockActive === true">
                        <span class="iconify" color="grey" data-icon="bx-bxs-shield" data-inline="true"></span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Animation Column -->

        <!-- Player Avatar equipColumn -->

        <!-- Room Event Column -->
        <!-- MONSTER -->
        <div *ngIf="this.RoomEventService.roomType === 'monster' ||
             this.RoomEventService.roomType === 'boss' ||
              this.RoomEventService.roomType === 'finalboss'">

            <div *ngIf="this.RoomEventService.monsterHealthValue > 0" class="avatarColumn">

                <div class="ailmentBox">
                    <!-- monster stunned? -->
                    <div *ngIf="this.RoomEventService.isMonsterStunned === true && this.RoomEventService.monsterHealthValue > 0"
                        class="ailment"> Stunned! </div>
                </div>

                <div class="monster">
                    <img class="monster" id="monsterAni" src="{{ this.RoomEventService.roomImage }}" />
                </div>

            </div>

            <!-- monster loot -->
            <div class="avatarColumn">
                <div *ngIf="this.RoomEventService.monsterHealthValue <= 0 && this.PlayerService.isLootTaken === false">

                    <div class="lootContainer">

                        <div class="flexrow">
                            <div *ngFor="let loot of this.RoomEventService.roomLootList">
                                <div class="lootCard"
                                    [style.background-color]="this.PlayerService.getColour(loot.itemTier)"
                                    (click)="takeLoot(loot.itemName)">
                                    {{ loot.itemName }}
                                </div>
                            </div>
                        </div>

                        <div class="flexrow">
                            <div class="forgoLoot" (click)="this.DungeonPathService.toggleDungeonPath()">
                                take nothing and leave
                            </div>
                        </div>

                    </div>
                    
                  
                        <img class="monsterDead" src="{{ this.RoomEventService.roomImage }}" />
                   

                </div>

            </div>

        </div>

        <!-- TREASURE -->
        <div *ngIf="this.RoomEventService.roomType === 'treasure'">

            <!-- loot -->
            <div class="avatarColumn">
                <div class="lootContainer" *ngIf="this.PlayerService.isLootTaken === false">
                    <div class="flexrow">
                        <div *ngFor="let loot of this.RoomEventService.roomLootList">
                            <div class="lootCard" [style.background-color]="this.PlayerService.getColour(loot.itemTier)"
                                (click)="takeLoot(loot.itemName)">
                                {{ loot.itemName }}
                            </div>
                        </div>
                    </div>
                    <div class="flexrow">
                        <div class="forgoLoot" (click)="this.DungeonPathService.toggleDungeonPath()">
                            take nothing and leave
                        </div>
                    </div>
                </div>
            </div>

            <div class="flexrow">
                <div></div>
                <span *ngIf="this.RoomEventService.roomType === 'treasure'" class="iconify" color="gold"
                    data-icon="mdi-treasure-chest" data-inline="false"></span>
                <div></div>
            </div>

        </div>

        <!-- FIRE -->
        <div *ngIf="this.RoomEventService.roomType === 'fire'">
            <div class="avatarColumn">
                <span *ngIf="this.RoomEventService.roomType === 'fire'" class="iconify" color="red"
                    data-icon="majesticons:fire" data-inline="false"></span>
            </div>
        </div>

    </div>

    <!----------------------------------------- FOOTER --------------------------------------------->
    <div class="statrow">

        <div class="statRowSpacer">
        </div>

        <!-- player stats -->
        <div class="statContainer">
            <div class="statbox">
                <span class="stattext"> {{this.PlayerService.playerAttack}}</span>
                <span class="iconify" color="grey" data-icon="mdi:sword" data-inline="false"></span>
            </div>

            <!-- <div class="flexrow"> -->
            <div class="statbox">
                <span *ngIf="this.PlayerService.isBlockActive === true" class="stattextGrn"> {{
                    this.PlayerService.getDefenceValue() }}</span>
                <span *ngIf="this.PlayerService.isBlockActive === false" class="stattext"> {{
                    this.PlayerService.getDefenceValue() }}</span>
                <span class="iconify" color="grey" data-icon="bx-bxs-shield" data-inline="false"></span>
            </div>
            <!-- </div> -->

            <!-- <div class="flexrow"> -->
            <div class="statbox">
                <span class="iconify" color="red" data-icon="ant-design:heart-filled" data-inline="false"></span>
                <span class="stattext"> {{ this.PlayerService.playerHealth }}</span>
                <div *ngIf="this.PlayerService.healthChange > 0" class="healthPos">
                    +{{ this.PlayerService.healthChange }}
                </div>
                <div *ngIf="this.PlayerService.healthChange < 0" class="healthNeg">
                    {{ this.PlayerService.healthChange }}
                </div>
            </div>
            <!-- </div> -->
        </div>


        <!-- monster  stats -->
        <div class="statContainer">
            <div *ngIf="this.RoomEventService.monsterHealthValue > 0" class="statbox">
                <span class="iconify" color="grey" data-icon="mdi:sword" data-inline="false"></span>
                <span class="stattext"> {{this.RoomEventService.monsterAttackValue}}</span>
            </div>
            <div class="statbox">
            </div>
            <div *ngIf="this.RoomEventService.monsterHealthValue > 0" class="statbox">
                <div class="statbox">
                    <span class="iconify" color="red" data-icon="ant-design:heart-filled" data-inline="false"></span>
                    <span class="stattext"> {{this.RoomEventService.monsterHealthValue}}</span>
                    <div *ngIf="this.RoomEventService.isMonsterTakeDamage === true " class="healthNeg">
                        {{ this.PlayerService.playerAttack }}
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- START -->
    <div *ngIf="this.RoomEventService.roomType === 'start'">
        <div>

        </div>
    </div>

    <!-- <div *ngIf="this.RoomEventService.roomType === 'treasure' || this.RoomEventService.roomType === 'fire'">
        <this div replaces the stat boxes for spacing -->
    <!-- </div> -->

</div>