* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font: weight 600;
}

.REContainer {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.466),
    rgba(141, 141, 141, 0.164),
    rgba(218, 218, 218, 0.096)
  );
  width: 88.2vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.devinfo {
  margin-top: 15vh;
  background-color: black;
  color: rgb(255, 255, 255);
  text-align: center;
  width: 20vw;
  align-self: center;
}

/* Cave Background */
.caveBGCont {
  position: absolute;
  z-index: -1;
  height: 80vh;
  width: 88.2vw;
}

.caveBGImg {
  height: 100%;
  width: 100%;
}

/* flex boxes */
.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.flexcol,
.Monsterflexrow,
.status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

/* equipment */
.equipColumn {
  padding: 1.5vw;
  background-color: rgba(37, 37, 37, 0.76);
}

.equipSlot,
.equipButton {
  width: 10vh;
  height: 10vh;
  border-radius: 1vh;
  margin: 0.8vw;
  /* padding: 0.8vw; */
  font-size: 1.7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.itemImage {

width: 80%;
opacity: 50%;

}

.equipButton {
  background-color: rgba(255, 255, 255, 0);
  border-style: none;
  /* border-width: 0.5vw; */
  z-index: 7;
  margin: 0vw;
  padding: 0.5vw;
  cursor: pointer;
  position: fixed;
  animation-name: equipButton;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  user-select: none;
  cursor: pointer;
}

@keyframes equipButton {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.3);
  }
  100% {
    background-color: rgb(255, 255, 255, 0);
  }
}

.slotrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-self: center;
}

/* avatars */

.avatarColumn {
  display: flex;
  flex-direction: column;
  width: 30vw;
  align-items: center;
  /* background-color: rgba(173, 36, 36, 0.281); */
}

.ailmentBox {
  width: 10vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 0;
}

.ailment {
  justify-content: space-around;
}

.avatar {
  height: 40vh;
}

.monster {
  height: 40vh;
}

/* header + footer */

.statrow {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  vertical-align: middle;
  background-color: rgb(0, 0, 0);
}

.statRowSpacer {
  padding: 1.5vw;
  /* background-color: rgba(116, 209, 121, 0.76); */
  width: 10vh;
  margin: 0.8vw;
}

.statContainer {
  width: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* background-color: rgba(255, 127, 80, 0.342); */
}

.statbox {
  width: 8vw;
  height: 100%;
  /* background-color: black; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 0;
}

.statboxplus {
  width: 1vw;
  z-index: 5;
}

.healthChange,
.healthPos,
.healthNeg {
  width: 8vh;
  height: 8vh;
  display: flex;
  justify-content: center;
  font-size: 4.5vh;
  font-weight: 800;
  user-select: none;
  animation-name: healthChange;
  animation-duration: 1500ms;
  animation-iteration-count: 1;
  z-index: 10;
  /* background-color: rgba(221, 231, 211, 0.493); */
}

.healthPos {
  color: rgb(38, 255, 0);
}

.healthNeg {
  color: rgb(255, 0, 0);
}

@keyframes healthChange {
  0% {
    bottom: 20vw;
    opacity: 100%;
    position: relative;
  }
  100% {
    bottom: 0vw;
    opacity: 0%;
    position: relative;
  }
}

.iconify {
  position: absolute;
  z-index: 1;
  font-size: 7vh;
  align-self: center;
}

.stattext,
.stattextGrn {
  color: cornsilk;
  font-size: 4.5vh;
  font-weight: 800;
  z-index: 2;
  user-select: none;
  align-self: center;
  position: absolute;
}

.stattextGrn {
  color: rgb(70, 255, 37);
}

/* Treasure / Loot */

.monsterDead {
  height: 35vh;
  transform: rotate(100deg);
  top: 55vh;
  left: 72vw;
  animation-name: monsterDeathAni;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  z-index: 1;
  position: fixed;
}

@keyframes monsterDeathAni {
  0% {
    height: 40vh;
    top: 41vh;
    left: 67vw;
    transform: rotate(0deg);
}
30% {
    height: 38vh;
    top: 41vh;
    left: 69vw;
    transform: rotate(88deg);
}
35% {
    height: 38vh;
    top: 43vh;
    left: 70vw;
    transform: rotate(90deg);
}
100% {
    height: 35vh;
    top: 55vh;
    left: 72vw;
    transform: rotate(100deg);
}
}

.lootContainer,
.lootContainerAni {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vw;
  top: 35vh;
  right: 14vh;
  background-color: rgba(32, 32, 32, 0.794);
  z-index: 3;
  animation-name: lootContainerAni;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  position: absolute;
}

@keyframes lootContainerAni {
  0% {
    padding: 0.01vw;
    width: 5vw;
    height: 5vw;
    top: 65vh;
    right: 20vh;
    margin-bottom: 5vh;
  }
  100% {
  }
}

.lootCard,
.lootCardAni {
  width: 8vw;
  height: 11vw;
  background-color: rgb(126, 126, 126);
  font-size: 1.7vh;
  margin: 1vw;
  align-items: center;
  padding: 0.5vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  animation-name: lootCardAni;
  animation-duration: 1500ms;
  animation-iteration-count: 1;
}

@keyframes lootCardAni {
  0% {
    width: 0.01vh;
    height: 0.01vh;
    font-size: 0.01vh;
    margin: 0.01vw;
    padding: 0.01vw;
  }
  100% {
  }
}

.forgoLootButton,
.forgoLootButtonAni {
  width: 25vh;
  height: 6vh;
  background-color: rgb(216, 216, 216);
  color: rgb(31, 31, 31);
  /* font-size: 1.7vh; */
  font-weight: 600;
  border-radius: 1vw;
  margin: 1vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  animation-name: forgoLootButtonAni;
  animation-duration: 1500ms;
  animation-iteration-count: 1;
}

@keyframes forgoLootButtonAni {
  0% {
    width: 0.01vh;
    height: 0.01vh;
    font-size: 0.01vh;
    margin: 0.01vw;
    padding: 0.01vw;
  }
  100% {
  }
}
