<div class="room-event-container">

    <div class="cave-background-container">
        <img class="cave-background-image" src="{{ this.RoomEventService.roomBackground }}" />
    </div>

    <!-- dev info -->
    <div class="dev-info" *ngIf="DungeonPathService.showDevInfo === true">
        {{this.RoomEventService.roomType}} <br>
        currentLevel = {{this.RoomEventService.currentLevel}} <br>
        currentRoom = {{this.RoomEventService.currentRoom}}
    </div>

    <!-- HEADER -->
    <!-- TURN INFO -->
    <div class="stat-row">

        <div class="stat-row-spacer">
        </div>

        <div class="stat-container">
            <p *ngIf="this.RoomEventService.isPlayerTurn === true" class="stat-text"> Player Turn </p>
        </div>

        <div class="stat-container">
            <p *ngIf="this.RoomEventService.isPlayerTurn === false && this.RoomEventService.monsterHealthValue > 0"
                class="stat-text"> Monster Turn </p>
        </div>

    </div>

    <!-- BODY -->
    <div class="flexrow">

        <!-- Equipment Column -->
        <div class="equip-column">
            <div class="equip-slot"
                [style.background-color]="this.PlayerInventoryService.getItemColour(this.PlayerInventoryService.helm.itemTier)">
                <img class="item-image"
                    src="../../../assets/images/equipment/{{this.PlayerInventoryService.helm.itemName}}.png">
            </div>
            <div class="equip-slot"
                [style.background-color]="this.PlayerInventoryService.getItemColour(this.PlayerInventoryService.armour.itemTier)">
                <img class="item-image"
                    src="../../../assets/images/equipment/{{this.PlayerInventoryService.armour.itemName}}.png">
            </div>
            <div class="equip-slot"
                [style.background-color]="this.PlayerInventoryService.getItemColour(this.PlayerInventoryService.offhand.itemTier)">
                <img class="item-image"
                    src="../../../assets/images/equipment/{{this.PlayerInventoryService.offhand.itemName}}.png">
                <button class="equip-button" (click)="Block()" *ngIf="this.RoomEventService.isPlayerTurn === true">
                </button>
            </div>
            <div class="equip-slot"
                [style.background-color]="this.PlayerInventoryService.getItemColour(this.PlayerInventoryService.weapon.itemTier)">
                <img class="item-image"
                    src="../../../assets/images/equipment/{{this.PlayerInventoryService.weapon.itemName}}.png">
                <button class="equip-button" (click)="Attack()" *ngIf="this.RoomEventService.isPlayerTurn === true">
                </button>
            </div>
        </div>

        <!-- Player Avatar Column -->
        <div class="avatar-column">

            <div class="ailment-box">
                <div *ngIf="this.RoomEventService.isPlayerBlocking === true"> blocking </div>
                <div *ngIf="this.RoomEventService.roomType === 'fire'"> resting </div>
            </div>

            <div id="playerAvatar" class="flexrow">

                <div class="equip-in-use"></div>

                <img class="avatar-attacking" *ngIf="this.RoomEventService.isPlayerAttacking === true"
                    src="{{ this.PlayerInventoryService.playerAvatar }}" />

                <img class="avatar" *ngIf="this.RoomEventService.isPlayerAttacking === false"
                    src="{{ this.PlayerInventoryService.playerAvatar }}" />

                <div>
                    <img *ngIf="this.RoomEventService.isPlayerBlocking === true && 
                                this.RoomEventService.isPlayerAttacking === false" class="eqiup-blocking"
                                src="../../../assets/images/equipment/{{this.PlayerInventoryService.offhand.itemName}}.png">
                    <img *ngIf="this.RoomEventService.isPlayerAttacking === true" class="eqiup-attacking"
                        src="../../../assets/images/equipment/{{this.PlayerInventoryService.weapon.itemName}}.png">
                    <img *ngIf="this.RoomEventService.isDamageNegated === true" class="damage-deflect"
                        src="../../../assets/images/equipment/Block Effect.png">
                </div>

            </div>

        </div>

        <!-- Room Event Column -->
        <!-- MONSTER -->
        <div *ngIf="this.RoomEventService.roomType === 'monster' ||
             this.RoomEventService.roomType === 'boss' ||
              this.RoomEventService.roomType === 'finalboss'">

            <div *ngIf="this.RoomEventService.monsterHealthValue > 0" class="avatar-column">

                <div class="ailment-box">
                    <!-- monster stunned? -->
                    <div *ngIf="this.RoomEventService.isMonsterStunned === true && this.RoomEventService.monsterHealthValue > 0"
                        class="ailment"> Stunned! </div>
                </div>

                <div class="monster">
                    <img class="monster" *ngIf="this.RoomEventService.isMonsterAttacking === false"
                        src="{{ this.RoomEventService.roomImage }}" />
                    <img class="monster-attacking" *ngIf="this.RoomEventService.isMonsterAttacking === true"
                        src="{{ this.RoomEventService.roomImage }}" />
                        <img class="monster-claw-attacking" *ngIf="this.RoomEventService.isMonsterAttacking === true"
                        src="../../../assets/images/equipment/Monster Claw.png"/>
                </div>

            </div>

            <!-- monster loot -->
            <div class="avatar-column">
                <div
                    *ngIf="this.RoomEventService.monsterHealthValue <= 0 && this.RoomEventService.isLootTaken === false">

                    <div class="loot-container">

                        <div class="flexrow">
                            <div *ngFor="let loot of this.RoomEventService.roomLootList">
                                <div class="loot-card"
                                    [style.background-color]="this.PlayerInventoryService.getItemColour(loot.itemTier)"
                                    (click)="takeLoot(loot.itemName)">
                                    <img class="item-image"
                                        src="../../../assets/images/equipment/{{loot.itemName}}.png">
                                    {{ loot.itemName }}
                                </div>
                            </div>
                        </div>

                        <div class="flexrow">
                            <div class="forgo-loot-button" (click)="this.DungeonPathService.toggleDungeonPath()">
                                take nothing and leave
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <div *ngIf="this.RoomEventService.monsterHealthValue <= 0">
                <img class="monster-dead" src="{{ this.RoomEventService.roomImage }}" />
            </div>

        </div>



        <!-- TREASURE -->
        <div *ngIf="this.RoomEventService.roomType === 'treasure'">

            <!-- loot -->
            <div class="avatar-column">
                <div class="loot-container" *ngIf="this.RoomEventService.isLootTaken === false">

                    <div class="flexrow">
                        <div *ngFor="let loot of this.RoomEventService.roomLootList">
                            <div class="loot-card"
                                [style.background-color]="this.PlayerInventoryService.getItemColour(loot.itemTier)"
                                (click)="takeLoot(loot.itemName)">
                                <img class="item-image" src="../../../assets/images/equipment/{{loot.itemName}}.png">
                                {{ loot.itemName }}
                            </div>
                        </div>
                    </div>

                    <div class="flexrow">
                        <div class="forgo-loot-button" (click)="this.DungeonPathService.toggleDungeonPath()">
                            take nothing and leave
                        </div>
                    </div>

                </div>
            </div>

            <!-- chest image -->
            <div class="flexrow">
                <div *ngIf="this.RoomEventService.roomType === 'treasure'">
                    <img id="treasure" class="chest" src="../../../assets/images/misc/ChestClosed.png">
                </div>
            </div>

        </div>

        <!-- FIRE -->
        <div class="avatar-column" *ngIf="this.RoomEventService.roomType === 'fire'">
            <img class="fire" src="../../../assets/images/misc/Fire.png">
        </div>

    </div>

    <!----------------------------------------- FOOTER --------------------------------------------->

    <div class="stat-row">

        <div class="stat-row-spacer">
        </div>

        <!-- player stats -->
        <div class="stat-container">
            <div class="stat-box">
                <span class="stat-text"> {{this.PlayerInventoryService.playerAttack}}</span>
                <span class="iconify" color="grey" data-icon="mdi:sword" data-inline="false"></span>
            </div>

            <div class="stat-box">
                <span *ngIf="this.RoomEventService.isPlayerBlocking === true" class="stat-text-green"> {{
                    this.PlayerInventoryService.playerDefence }}</span>
                <span *ngIf="this.RoomEventService.isPlayerBlocking === false" class="stat-text"> {{
                    this.PlayerInventoryService.playerDefence }}</span>
                <span class="iconify" color="grey" data-icon="bx-bxs-shield" data-inline="false"></span>
            </div>

            <div class="stat-box">
                <span class="iconify" color="red" data-icon="ant-design:heart-filled" data-inline="false"></span>
                <span class="stat-text"> {{ this.PlayerInventoryService.playerHealth }}</span>
                <div *ngIf="this.RoomEventService.healthChangeValue > 0" class="health-pos">
                    +{{ this.RoomEventService.healthChangeValue }}
                </div>
                <div *ngIf="this.RoomEventService.healthChangeValue < 0" class="health-neg">
                    {{ this.RoomEventService.healthChangeValue }}
                </div>
            </div>

        </div>

        <!-- monster  stats -->
        <div class="stat-container">
            <div *ngIf="this.RoomEventService.monsterHealthValue > 0" class="stat-box">
                <span class="iconify" color="grey" data-icon="mdi:sword" data-inline="false"></span>
                <span class="stat-text"> {{this.RoomEventService.monsterTurnValue}}</span>
            </div>
            <div class="stat-box">
            </div>
            <div *ngIf="this.RoomEventService.monsterHealthValue > 0" class="stat-box">
                <div class="stat-box">
                    <span class="iconify" color="red" data-icon="ant-design:heart-filled" data-inline="false"></span>
                    <span class="stat-text"> {{this.RoomEventService.monsterHealthValue}}</span>
                    <div *ngIf="this.RoomEventService.isMonsterTakeDamage === true " class="health-neg">
                        -{{ this.PlayerInventoryService.playerAttack }}
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- START -->
    <div *ngIf="this.RoomEventService.roomType === 'start'">
        <div>

        </div>
    </div>

    <!-- <div *ngIf="this.RoomEventService.roomType === 'treasure' || this.RoomEventService.roomType === 'fire'">
        <this div replaces the stat boxes for spacing -->
    <!-- </div> -->

</div>