.REContainer {
  background-color: rgb(30, 101, 128);

  width: 49.5vw;
  height: 35vh;

  flex-grow: 1;
}

.flexrow {
  display: flex;
  flex-direction: row;
  background-color: rgba(61, 54, 54, 0.003);
}

.text {
  background-color: black;
  color: white;
  text-align: center;
}
