* {
  padding: 0;
  margin: 0;
}

.REContainer {
  background-color: rgb(30, 101, 128);
  width: 47vw;
  height: 35vh;
  margin: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: rgba(54, 60, 61, 0.212); */
}

.flexcol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background-color: rgba(187, 11, 11, 0.76);
}

.info {
  margin-top: 15vh;
  background-color: black;
  color: white;
  text-align: center;
  width: 20vw;
  align-self: center;
}

.slotrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.slot, .slotspace{
  width: 10vh;
  height: 10vh;
  background-color: rgba(255, 255, 255, 0.26);
  font-size: 1.7vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.slotspace{
  width: 5vh;
  background-color: rgba(255, 255, 255, 0);
}

.statcont {
  display: flex;
  flex-direction: row;
}

.statbox {
  width: 10vh;
  height: 10vh;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 0;
}

.iconify {
  /* position: absolute; */
  /* z-index: 1; */
  font-size: 10vh;
  /* justify-self: center; */
}

.stattext {
  color: cornsilk;
  font-size: 7vh;
  margin-top: 0.8vh;
  font-weight: 800;
  z-index: 2;
  position: absolute;
  user-select: none;
}
