<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>


<div class="pagecont">
    <div class="columnContainer">

        <!-- options -->
        <app-options></app-options>

        <!-- player info -->
        <div class="info" *ngIf="DungeonPathService.showDevInfo === true">
            playerHealth = {{ this.PlayerService.playerHealth }}
            playerAttack = {{ this.PlayerService.playerAttack }}
        </div>

        <!-- if room shown  -->
        <div *ngIf="this.DungeonPathService.showDungeonPath === false">
            <div class="flexrow">
                <app-room-event></app-room-event>
            </div>
        </div>

        <!-- if dungeon path shown  -->
        <div *ngIf="this.DungeonPathService.showDungeonPath === true">
            <app-dungeon-path> </app-dungeon-path>
        </div>

    </div>
</div>