.OptionsWrapper {
  display: flex;
  flex-direction: row;
  /* margin: 1vw 0vw 0vw 0vw; */
}

.ShowOptionsButton {
  width: 35px;
  height: 50px;
  margin: 1vw 2vw 0vw 1.5vw;
  background-color: rgb(32, 32, 32);
}

.OptionButtonsContainer {
  margin: 0.8vw 0vw 0vw 0vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

button {
  color: black;
  padding: 5px 10px 5px 10px;
  margin: 5px;
  border-style: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
}

input {
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
}
