.InvContainer {
    height: 35vh;
    background-color: rgb(187, 145, 30);
    flex-grow: 1;
    width: 49.5vw;
  }

  .flexrow {
    display: flex;
    flex-direction: row;
  }


  .text {
   
    background-color: black;
    color: white;
    text-align: center;
  }





