<div class="InvContainer">

    <div>
        <div class="turnrow">
            <div class="statbox">
            </div>
            <div class="statbox">
            </div>
            <div *ngIf="this.RoomEventService.isPlayerTurn === true" class="turnbox">
                <p class="stattext"> Player Turn </p>
            </div>
        </div>
    </div>

    <div class="flexrow">
        <!-- Equipment Column -->
        <div class="equipColumn">
            <div class="equipSlot"
            [style.background-color]="this.PlayerService.getColour(this.PlayerService.helm.itemTier)">
                {{ this.PlayerService.helm.itemName }}
            </div>
            <div class="equipSlot"
            [style.background-color]="this.PlayerService.getColour(this.PlayerService.armour.itemTier)">
                {{ this.PlayerService.armour.itemName }}
            </div>
            <div class="equipSlot" (click)="Block()"
            [style.background-color]="this.PlayerService.getColour(this.PlayerService.offhand.itemTier)">
                {{ this.PlayerService.offhand.itemName }}
            </div>
            <div class="equipSlot" (click)="Attack()"
            [style.background-color]="this.PlayerService.getColour(this.PlayerService.weapon.itemTier)">
                {{ this.PlayerService.weapon.itemName }}
            </div>
        </div>

        <!-- Player Avatar Column -->
        <div class="avatarColumn">
            <div class="statusBox">
            </div>
            <img id="playerAvatar" class="avatar" src="{{ this.PlayerService.playerAvatar }}" />
        </div>

    </div>

    <div class="statrow">

        <div class="statbox">
        </div>
        <div class="statbox">
        </div>

        <div class="statbox">
            <span class="stattext"> {{this.PlayerService.playerAttack}}</span>
            <span class="iconify" color="grey" data-icon="mdi:sword" data-inline="false"></span>
        </div>

        <div class="flexrow">
            <div class="statbox">
                <span *ngIf="this.PlayerService.isBlockActive === true" class="stattextGrn"> {{
                    this.PlayerService.getDefenceValue() }}</span>
                <span *ngIf="this.PlayerService.isBlockActive === false" class="stattext"> {{
                    this.PlayerService.getDefenceValue() }}</span>
                <span class="iconify" color="grey" data-icon="bx-bxs-shield" data-inline="false"></span>
            </div>
        </div>

        <div class="flexrow">
            <div class="statbox">
                <span class="iconify" color="red" data-icon="ant-design:heart-filled" data-inline="false"></span>
                <span class="stattext"> {{ this.PlayerService.playerHealth }}</span>
                <div *ngIf="this.PlayerService.healthChange > 0" class="healthPos">
                    +{{ this.PlayerService.healthChange }}
                </div>
                <div *ngIf="this.PlayerService.healthChange < 0" class="healthNeg">
                    {{ this.PlayerService.healthChange }}
                </div>
            </div>
        </div>

    </div>

</div>